#leftcol, #rightcol{
height:550px;
}
.color-container{
  position:absolute;
  height:53.1px;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  transition: height 0.5s;
  cursor: pointer;
}

.color-square{
  
  width:180px;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  
}

/* Colors */

.background-color-ED5565{ background-color: #ED5565 }
.color-ED5565{ color: #ED5565 }
.background-color-DA4453{ background-color: #DA4453 }
.color-DA4453{ color: #DA4453 }
.background-color-FC6E51{ background-color: #FC6E51 }
.color-FC6E51{ color: #FC6E51 }
.background-color-E9573F{ background-color: #E9573F }
.color-E9573F{ color: #E9573F }
.background-color-FFCE54{ background-color: #FFCE54 }
.color-FFCE54{ color: #FFCE54 }
.background-color-FCBB42{ background-color: #FCBB42 }
.color-FCBB42{ color: #FCBB42 }
.background-color-A0D468{ background-color: #A0D468 }
.color-A0D468{ color: #A0D468 }
.background-color-8CC152{ background-color: #8CC152 }
.color-8CC152{ color: #8CC152 }
.background-color-48CFAD{ background-color: #48CFAD }
.color-48CFAD{ color: #48CFAD }
.background-color-37BC9B{ background-color: #37BC9B }
.color-37BC9B{ color: #37BC9B }
.background-color-4FC1E9{ background-color: #4FC1E9 }
.color-4FC1E9{ color: #4FC1E9 }
.background-color-3BAFDA{ background-color: #3BAFDA }
.color-3BAFDA{ color: #3BAFDA }
.background-color-5D9CEC{ background-color: #5D9CEC }
.color-5D9CEC{ color: #5D9CEC }
.background-color-4A89DC{ background-color: #4A89DC }
.color-4A89DC{ color: #4A89DC }
.background-color-AC92EC{ background-color: #AC92EC }
.color-AC92EC{ color: #AC92EC }
.background-color-967ADC{ background-color: #967ADC }
.color-967ADC{ color: #967ADC }
.background-color-EC87C0{ background-color: #EC87C0 }
.color-EC87C0{ color: #EC87C0 }
.background-color-D770AD{ background-color: #D770AD }
.color-D770AD{ color: #D770AD }
.background-color-722872{ background-color: #722872 }
.color-722872{ color: #722872 }
.background-color-000000{ background-color: #000000 }
.color-000000{ color: #000000 }
