#page-loader{
	position: fixed;
	width:100%;
        height:100%;
	background: #5e4674;
	z-index: 99999;
}

#page-loader .page-loader-gif{
	display: block;
 	width:auto;
	height:auto;
	margin:0 20% ;
}
